name: ci

on:
  pull_request:
    types: [opened]
  push:

jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build an image from Dockerfile
        run: |
          docker build -t docker.io/karinatitov/app:${{ github.sha }} .
      -
        name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'docker.io/karinatitov/app:${{ github.sha }}'
          format: 'sarif'
          output: 'trivy-results.sarif'
      -
        name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: 'trivy-results.sarif'
      -
        name: Build and push
        uses: docker/build-push-action@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN_1 }}
          context: .
          push: true
          tags: karinatitov/app:latest