name: ci

on:
  pull_request:
    types: [opened]
  push:

jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and load
        uses: docker/build-push-action@v3
        with:
          context: .
          load: true
          tags: karinatitov/app:latest
      -
        name: Scan for vulnerabilities
        id: scan
        uses: crazy-max/ghaction-container-scan@v2
        with:
          image: karinatitov/app:latest
          dockerfile: ./Dockerfile
      -
        name: Build and push
        uses: docker/build-push-action@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN_1 }}
          context: .
          push: true
          tags: karinatitov/app:latest